html {
    height: 100%; 
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #09091c;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1115px;
}

.container-med {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
}

.container-thin {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}

.container-proj {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.text-center {
    text-align: center;
}

nav {
    padding-top: 50px;
    padding-bottom: 100px;
}

nav a {
    color: #ffffff);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px; 
    margin-left: 20px;
    margin-right: 20px; 
}


/* nav a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding-left: 14px;
    padding-right: 14px;
} */

a {
    text-decoration: none;
    color: #ffffff;
}

.top-right a {
    color: #1be1f2;
}

.nav-name {
    font-size: 60px;
    color: #1be1f2;
    float: left;
}

.nav-other-text {
    padding-top: 10px;
    float: right;
}

.nav-other-text:hover {
    border-bottom: 3px solid white;
}

.nav-name:hover {
    border-bottom: 7px solid #1be1f2;
}

.column-left {
    float: left;
    width: 515px;
    margin-right: 80px;
}

.column-right {
    float: right;
    width: 515px;
}

.column-about h1 {
    color: white;
}
.column-about {
    color: white;
    float: left;
    width: 350px;
    margin: 30px;
}

.proj-preview {
    padding: 45px;
    width: 515px;
    background-color: white;
    box-shadow: 0px 20px 49px rgba(155, 152, 147, 0.15);
    border-radius: 20px;
    margin-bottom: 50px;
    float: center;
}

.fixed {
    position: fixed;
}

.spacer {
    height: 290px;
    background-color: #FBF9F6;
}

.spacer-short {
    height: 100px;
    background-color: #09091c;
}

.row {
    content: "";
    display: table;
    clear: both; 
}

@media screen and (max-width: 600px) {
    .column-left {
      width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .column-right {
      width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .column-about {
      width: 100%;
    }
}

* {
    box-sizing: border-box;
  }

footer {
    margin-top: 150px;
    margin-bottom: 60px;
    padding-top: 100px;
    padding-bottom:50px;
}

main h1 {
    font-size: 32px; 
    font-family: 'Lora', serif;
    color: #ffffff;
    font-weight: 600;
    line-height: 55px;
}

.top-right h1 {
    font-size: 32px; 
    font-family: 'Lora', serif;
    color: #09091c;
    font-weight: 600;
    line-height: 55px;
}

.proj-preview h1 {
    color: #09091c;
}

.padding-50 {
    padding-top: 50px;
}

.padding-30
{
    padding-top: 30px;
    padding-bottom: 10px;
}

h2 {
    font-size: 50px; 
    font-family: 'Lora', serif;
    color: #ffffff;
    font-weight: 800;
    line-height: 55px;
}

h3 {
    color: #09091c;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 30px;
}

.row h3 {
    color: #09091c;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 30px;
}

h4 {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px; 
}

p {
    color: var(--grey);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 30px;
}

li {
    color: var(--grey);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 30px;
}

.footer-img-margin {
    margin-left: 10px; 
    margin-right: 10px; 
}

.img-float-right {
    float: right;
}

.centered { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right {
    position: absolute;
    top: 60px;
    right: 100px;
}

.bot-right {
    position: absolute;
    top: 45px;
    right: 70px;
}

.top-margin {
    margin-top: 200px;
}

.h1-large {
    font-size: 38px;
}

.bot-margin {
    margin-bottom: 50px;
}

.next-proj {
    margin-top: 80px;
    float: right;
}

.back-proj {
    margin-top: 80px;
    float: left;
}



/* html {
    height: 100%
}
body {
    background-color: #345345;
    background-image: url(images/oop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container { 
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header { 
    height: 118px;
    text-align: left;
}
nav {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}
main img {
    text-align: left;
}
footer {
    background-color: greenyellow;
    height: 100px;
}
h1 { 
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; 
}*/
