html {
    height: 100%; 
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1115px;
}

nav {
    padding-top: 45px;
    padding-bottom: 45px;
    position: sticky;
    top: 0px;
    background-color: white;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px; 
    margin-left: 20px;
    margin-right: 20px; 
}

.nav-name {
    font-size: 22px;
    font-weight: 600;
    color: #2f80ed;
    float: left;
}

.nav-other-text {
    float: right;
}

.nav-img-margin {
    margin-left: 20px; 
    margin-right: 20px; 
    float:right;
}

.nav-other-text:hover {
    border-bottom: 3px solid black;
}

.nav-name:hover {
    border-bottom: 3px solid #2f80ed;
}

.container-med {
    margin-left: auto;
    margin-right: auto;
    width: 1115px;
    position: relative;
    background-color: white;
}

.container-med a {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 650;
    font-size: 20px; 
    line-height: 30px;
}

.container-med h4 {
    text-align:center;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 650;
    font-size: 28px; 
}

.top-right {
    position: absolute;
    top: 60px;
    right: 100px;
}

.top-right h1 {
    font-size: 32px; 
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 600;
    line-height: 55px;
}

.top-right h3 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 30px;
}

.top-right a {
    color: #2f80ed;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.h1-large {
    font-size: 42px;
}

.row {
    content: "";
    display: table;
    clear: both; 
}

.column {
    margin-left: auto;
    margin-right: auto;
    width: 1115px;
}

.proj-preview {
    padding: 45px;
    width: 1115px;
    background-color: white;
    box-shadow: 0px 20px 49px rgba(71, 70, 67, 0.15);
    margin-bottom: 50px;
    transition: 0.3s;
}

.proj-preview:hover {
    transform: translate(0, -10px);
}

.proj-preview h1 {
    color: black;
    /* padding: 100px; */
    /* position: absolute;
    left: auto; */
}

.proj-preview h3 {
    color:#09091c;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 30px;
}

.connect {
    height: 327px;
    width: 1115px;
    background-color:hsla(212, 82%, 53%, 0.11);
    margin-top: 250px;
    margin-bottom: 150px;
}

.connect h1 {
    vertical-align: middle;
    padding-left: 100px;
    padding-top: 50px;
}

.connect h3 {
    vertical-align: middle;
    padding-left: 100px;
}

footer {
    margin-bottom: 5px;
    padding-top: 100px;
    padding-bottom:10px;
}

.spacer-short {
    height: 25px;
    background-color: #2f80ed;
    position:absolute;
    width:100%;
    left:0;
}

.container-proj {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    color: #2f80ed;
    font-size: 20px;
    padding-top:60px;
    padding-bottom:15px;
}

td {
    font-size: 20px;
    font-weight: 30;
    font-style: 'Inter','sans-serif';
}

.container-thin {
    margin-left: auto;
    margin-right: auto;
    width: 1115px;
}

.column-about {
    color: black;
    float: left;
    width: 350px;
    margin: 30px;
}

.column-about h1 {
    color: #2f80ed;
    font-family: 'Inter', 'sans-serif';
}

.fixed {
    position: fixed;
}

.spacer {
    height: 290px;
    background-color: white;
}

@media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .column-about {
      width: 100%;
    }
}

* {
    box-sizing: border-box;
  }

main h1 {
    font-size: 32px; 
    font-family: 'Lora', serif;
    color: black;
    font-weight: 600;
    line-height: 55px;
}

.padding-50 {
    color: black;
    font-family: 'Inter', 'sans-serif';
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight:500;
}

.padding-30
{
    padding-top: 30px;
    padding-bottom: 10px;
}

h2 {
    font-size: 50px; 
    font-family: 'Lora', serif;
    color: black;
    font-weight: 800;
    line-height: 55px;
}

h3 {
    color:black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 30px;
}

.row h3 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 30px;
}

h4 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px; 
}

p {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 30px;
}

li {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 30px;
}

.img-float-right {
    float: right;
}

.centered { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bot-right {
    position: absolute;
    top: 45px;
    right: 70px;
}

.top-margin {
    margin-top: 200px;
}

.next-proj a {
    color: #2f80ed;
    margin-top: 80px;
    float: right;
}

.back-proj a {
    color: #2f80ed;
    margin-top: 80px;
    float: left;
}

.next-proj a:hover {
    border-bottom: 5px solid #2f80ed;
}

.back-proj a:hover {
    border-bottom: 5px solid #2f80ed;
}


/* html {
    height: 100%
}
body {
    background-color: #345345;
    background-image: url(images/oop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container { 
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header { 
    height: 118px;
    text-align: left;
}
nav {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}
main img {
    text-align: left;
}
footer {
    background-color: greenyellow;
    height: 100px;
}
h1 { 
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; 
}*/
